{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  {% if user is not defined %}
    <a class="btn" href="/users">My Account</a>
  {% else %}
    <p>Vous êtes connecté en tant que {{ user.email }}</p>
    <a class="btn" href="/auth/logout">Logout</a>
  {% endif %}

{% endblock %}
